:root {
    --content-min-height: calc(100vh - 40px - 2rem);
}

.container {
    position: relative;
}

main {
    min-height: var(--content-min-height);
    margin-left: 220px;
    transition: margin-left 0.25s ease;
    padding: 1rem;
}
main.drawer-open {
    margin-left: 220px;
}

main.drawer-closed {
    margin-left: 0;
}

nav {
    .selected {
        text-align: left;
        background-color: var(--sl-color-sky-100);
        color: var(--sl-color-neutral-900);
        border-radius: 0.5rem;
        width: 100%;
    }
    .selected::part(base) {
        justify-content: flex-start;
    }

    sl-divider {
        --color: var(--sl-color-neutral-300);
        --width: 2px;
        --spacing: 7px;
    }
}

header {
    user-select: none;
    position: relative;
    display: flex;
    align-content: center;
    height: 40px;
    box-shadow: var(--sl-shadow-medium);
    z-index: calc(var(--sl-z-index-drawer) + 1);
    background-color: var(--sl-color-sky-100);

    .menu-button {
        font-size: 1.5rem;
    }

    .title {
        margin-left: 0.5rem;
        font-size: 1.25rem;
        line-height: 40px;
    }
}

.menu-drawer {
    --size: 220px;
    --body-spacing: 0.5rem;
}
.menu-drawer sl-button::part(base) {
    --sl-input-height-large: 2rem;
}
