body {
    font-family: "Noto Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    margin: auto;
    background-color: var(--sl-color-neutral-0);
    color: var(--sl-color-neutral-900);
}

@font-face {
    font-family: "Noto Sans JP";
    src: url("assets/NotoSansJP-VariableFont_wght.ttf");
}
@font-face {
    font-family: "Noto Sans";
    src: url("assets/NotoSans-VariableFont_wdth,wght.ttf");
}
@font-face {
    font-family: "keifont";
    src: url("assets/keifont.ttf");
}
/* @font-face {
    font-family: "Rampart One";
    src: url("assets/RampartOne-Regular.ttf");
}

.rampart-one {
    font-family: "Rampart One", serif;
    font-weight: 400;
    font-style: normal;
} */

.form-control {
    sl-radio-group {
        margin-top: 0.5rem;
    }
    sl-input {
        margin-top: 0.5rem;
    }
    sl-select {
        margin-top: 0.5rem;
    }
}
sl-radio-group[align-right]::part(form-control) {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: var(--sl-spacing-3x-small) var(--gap-width);
    align-items: center;
}

sl-radio-group[align-right]::part(form-control-label) {
    display: contents;
    order: 2;
}

sl-radio-group[align-right]::part(button-group) {
    order: 1;
    margin-left: auto;
}

sl-select[align-right]::part(form-control) {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: var(--sl-spacing-3x-small) var(--gap-width);
    align-items: center;
}

sl-select[align-right]::part(form-control-label) {
    display: contents;
    order: 2;
}

sl-select[align-right]::part(form-control-input) {
    width: 50%;
    order: 1;
    margin-left: auto;
}

sl-input[align-right]::part(form-control) {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: var(--sl-spacing-3x-small) var(--gap-width);
    align-items: center;
}

sl-input[align-right]::part(form-control-label) {
    display: contents;
    order: 2;
}

sl-input[align-right]::part(form-control-input) {
    width: 50%;
    order: 1;
    margin-left: auto;
}
