body {
    font-family: "Noto Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    margin: auto;
    background-color: var(--sl-color-neutral-0);
    color: var(--sl-color-neutral-900);
}

@font-face {
    font-family: "Noto Sans JP";
    src: url("assets/NotoSansJP-VariableFont_wght.ttf");
}
@font-face {
    font-family: "Noto Sans";
    src: url("assets/NotoSans-VariableFont_wdth,wght.ttf");
}
@font-face {
    font-family: "keifont";
    src: url("assets/keifont.ttf");
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}
/* @font-face {
    font-family: "Rampart One";
    src: url("assets/RampartOne-Regular.ttf");
}

.rampart-one {
    font-family: "Rampart One", serif;
    font-weight: 400;
    font-style: normal;
} */

.form-control {
    sl-radio-group,
    sl-input,
    sl-select,
    sl-range {
        margin-top: var(--sl-spacing-small);
    }
}

[align-right]::part(form-control) {
    display: grid;
    grid: auto / 1fr 1fr;
    gap: var(--sl-spacing-3x-small) var(--gap-width);
    align-items: center;
}

sl-radio-group[align-right]::part(form-control-input) {
    text-align: right;
}

[align-right]::part(form-control-help-text) {
    text-align: justify;
    grid-column-start: 1;
    grid-column-end: 3;
}

sl-spinner.large-spinner {
    --track-width: 0.5rem;
    font-size: 4rem;
}

sl-dialog::part(panel) {
    border-radius: var(--sl-border-radius-large);
}

.label-on-left {
    --label-width: 6rem;
    --gap-width: 1rem;
}

/* sl-radio-button::part(button) {
    background-color: var(--sl-color-neutral-200);
}
sl-radio-button::part(button--checked) {
    background-color: var(--sl-color-primary-500);
} */

.label-on-left + .label-on-left {
    margin-top: var(--sl-spacing-medium);
}

.label-on-left::part(form-control) {
    display: grid;
    grid: auto / var(--label-width) 1fr;
    gap: var(--sl-spacing-3x-small) var(--gap-width);
    align-items: center;
}

.label-on-left::part(form-control-label) {
    text-align: right;
}

.label-on-left::part(form-control-help-text) {
    grid-column-start: 2;
}
